*.aux
*.bbl
*.blg
*.la
*.lo
*.log
*.o
*.out
*.patch
*.toc
*.u[io]
*~
.deps
.libs
.svn
/config
ChangeLog
Makefile
Makefile.in
TAGS
aclocal.m4
autom4te.cache
bin/exsml
bin/exsmlc
compiler/Opcodes.sml
compiler/Parser.sig
compiler/Parser.sml
compiler/Predef.sml
compiler/Prim_c.sml
compiler/mosmlcmp
compiler/mosmllnk
compiler/mosmltop
confdefs.h
config.guess
config.h
config.h.in
config.h.in
config.log
config.status
config.sub
configure
core
core.*
doc/moscow-ml-manual/*.pdf
doc/moscow-ml-manual/auto*
libtool
ltmain.sh
m4
exsmllib/Architecture.sml
mosmlyac/mosmlyac
regression/testSubDir
runtime/.deps
runtime/Makefile
runtime/exsmlrunm
runtime/global_tbl.h
runtime/instruct.c
runtime/instruct.h
runtime/prims.c
src/config/m.h
src/config/s.h
src/exsmlrunm
src/launch/camlexec
src/launch/camlexec.c
src/launch/mosml
src/launch/mosmlc
src/launch/mosmllex
src/launch/testprog
src/lex/Grammar.sig
src/lex/Grammar.sml
src/lex/Scanner.sml
src/lex/mosmllex
stamp-h1
tools/Deplex.sml
tools/Deppars.sig
tools/Deppars.sml
tools/mosmldep
