*.u[io]
*.o
*.lo
*.patch
core.*
core
.deps
.svn
TAGS
ChangeLog
/config
config.guess
config.sub
libtool
ltmain.sh
m4
compiler/Opcodes.sml
compiler/Parser.sig
compiler/Parser.sml
compiler/mosmlcmp
compiler/Predef.sml
compiler/Prim_c.sml
compiler/mosmllnk
compiler/mosmltop
libsml_crypt/.libs
libsml_crypt/libsml_crypt.la
libsml_unix/.libs
libsml_unix/libsml_unix.la
libsml_socket/.libs
libsml_socket/libsml_socket.la
aclocal.m4
autom4te.cache
config.h.in
configure
Makefile
Makefile.in
config.h
config.h.in
config.log
config.status
stamp-h1
*~
mosmlyac/mosmlyac
src/camlrunm
src/config/m.h
src/config/s.h
mosmllib/Array.sml
mosmllib/FileSys.sml
mosmllib/Help.sml
mosmllib/Int.sml
mosmllib/Mosml.sml
mosmllib/Path.sml
mosmllib/Process.sml
mosmllib/Strbase.sml
mosmllib/Vector.sml
mosmllib/Weak.sml
mosmllib/Word.sml
mosmllib/Word8Array.sml
mosmllib/Word8Vector.sml
runtime/.deps
runtime/camlrunm
runtime/prims.c
runtime/instruct.h
runtime/instruct.c
runtime/Makefile
runtime/global_tbl.h
src/launch/camlexec
src/launch/camlexec.c
src/launch/mosml
src/launch/mosmlc
src/launch/mosmllex
src/launch/testprog
src/lex/Grammar.sig
src/lex/Grammar.sml
src/lex/Scanner.sml
src/lex/mosmllex
src/toolssrc/Deplex.sml
src/toolssrc/Deppars.sig
src/toolssrc/Deppars.sml
src/toolssrc/Mosmldep.sml
src/toolssrc/cutdeps
src/toolssrc/mosmldep
