*.u[io]
*.o
*.lo
core.*
core
.deps
.svn
TAGS
ChangeLog
/config
config.guess
config.sub
libtool
ltmain.sh
m4
compiler/Opcodes.sml
compiler/Parser.sig
compiler/Parser.sml
compiler/mosmlcmp
libsml_crypt/.libs
libsml_crypt/libsml_crypt.la
libsml_unix/.libs
libsml_unix/libsml_unix.la
libsml_socket/.libs
libsml_socket/libsml_socket.la
runtime/.deps
aclocal.m4
autom4te.cache
config.h.in
configure
Makefile
Makefile.in
config.h
config.h.in
config.log
config.status
stamp-h1
*~
mosmlyac/mosmlyac
src/camlrunm
src/compiler/Config.sml
src/compiler/Filename.sml
src/compiler/Lexer.sml
src/compiler/Opcodes.sml
src/compiler/Parser.sig
src/compiler/Parser.sml
src/compiler/Predef.sml
src/compiler/Prim_c.sml
src/compiler/mosmlcmp
src/compiler/mosmllnk
src/compiler/mosmltop
src/config/m.h
src/config/s.h
src/mosmllib/Array.sml
src/mosmllib/FileSys.sml
src/mosmllib/Help.sml
src/mosmllib/Int.sml
src/mosmllib/Mosml.sml
src/mosmllib/Path.sml
src/mosmllib/Process.sml
src/mosmllib/Strbase.sml
src/mosmllib/Vector.sml
src/mosmllib/Weak.sml
src/mosmllib/Word.sml
src/mosmllib/Word8Array.sml
src/mosmllib/Word8Vector.sml
runtime/camlrunm
runtime/primitives
runtime/prims.c
runtime/opnames.h
runtime/Makefile
src/launch/camlexec
src/launch/camlexec.c
src/launch/mosml
src/launch/mosmlc
src/launch/mosmllex
src/launch/testprog
src/lex/Grammar.sig
src/lex/Grammar.sml
src/lex/Scanner.sml
src/lex/mosmllex
src/toolssrc/Deplex.sml
src/toolssrc/Deppars.sig
src/toolssrc/Deppars.sml
src/toolssrc/Mosmldep.sml
src/toolssrc/cutdeps
src/toolssrc/mosmldep
