#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk
include /usr/share/cdbs/1/class/makefile.mk

DEB_SRCDIR = $(CURDIR)/src
DEB_MAKE_CLEAN_TARGET := clean
DEB_MAKE_BUILD_TARGET := world
DEB_MAKE_INSTALL_TARGET := MOSMLHOME=$(CURDIR)/debian/tmp/usr install
DEB_MAKE_CHECK_TARGET :=

install/mosml::
	# bad symlink
	rm -f debian/tmp/usr/lib/mosml/camlrunm
	dh_link usr/bin/camlrunm usr/lib/mosml/camlrunm
	
	# use the correct paths
	echo "#!/usr/bin/camlrunm" > debian/tmp/usr/lib/mosml/header
	
	# remove broken link
	rm -f debian/tmp/usr/include/config

	# move README where it belongs
	mkdir -p $(CURDIR)/debian/tmp/usr/share/doc/mosml
	mv $(CURDIR)/debian/tmp/usr/lib/mosml/README $(CURDIR)/debian/tmp/usr/share/doc/mosml

	# install lintian override
	mkdir -p $(CURDIR)/debian/mosml/usr/share/lintian/overrides
	install -m 644 $(CURDIR)/debian/mosml-lintian-override $(CURDIR)/debian/mosml/usr/share/lintian/overrides/mosml

